.close-create-contact {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('../icones/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}
.create-contact-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}
.create-contact-details {
  margin-left: 20px;
}
.create-contact-avatar-input {
  min-width: 90px;
  height: 90px;
  background-color: white;
  background-image: url('../icones/person.svg');
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
}
.create-contact-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}
 .create-contact-details button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}