html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

body, .app {
  background: #f5f5f5;
}
   